[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
faker = "*"
faker-commerce = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start="python server.py"
init="flask --app server.py db init"
migrate="flask --app server.py db migrate"
upgrade="flask --app server.py db upgrade"
setup="python scripts/db_setup.py"
dummy="python scripts/generate_data.py"